<!DOCTYPE html>
<html>
    <head>
        <title>Medical Information</title>
    </head>
    <body>
        <canvas
            id="myChart"
            width="100"
            height="100"
        >
        </canvas>
        <div id="forms">
            <select name="startDate" id="startDate">
                {% for year in range(1944, 2019) %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
            <select name="endDate" id="endDate">
                {% for year in range(1944, 2019)[::-1] %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
            <select name="dbs" id="dbs" >
                {% for item in dbOptions%}
                    <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <input type="text" id="keyword" value="cancer" />
            <button id="getChart">show Information</button>
        </div>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>